@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base Colors */
    --color-white: 0 0% 96%;
    --color-whitest: 0 0% 100%;
    --color-semi-white: 0 0% 96% / 0.06;
    --color-black: 203 45% 4%;
    --color-grey-dark: 0 0% 20%;
    --color-grey-medium: 0 0% 40%;
    --color-grey-light: 0 0% 60%;
    --color-grey-lighter: 0 0% 80%;
    --color-red: 2 58% 46%;
    --color-orange: 24 96% 51%;
    --color-orange-soft: 35 87% 54%;
    --color-green: 140 35% 36%;
    --color-blue-light: 203 35% 60%;
    --color-yellow: 43 71% 58%;

    /* Semantic Colors */
    --background: var(--color-black);
    --foreground: var(--color-black);
    --muted: var(--color-grey-dark);
    --muted-foreground: var(--color-grey-light);
    --accent: var(--color-orange-soft);
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 0, 0%, 20%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;

    --radius: 16px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply h-screen;
  }
  body {
    @apply m-0 p-0 bg-body font-sans antialiased text-white;
  }
}

@layer components {
  .gradient-container {
    @apply p-4 sm:p-4 md:p-8 lg:p-12 border border-solid border-transparent bg-radial-dark shadow-[inset_1px_1px_1px_-1px_hsla(0,0%,100%,0.5)] rounded-2xl;
  }
  .normalize-input {
    @apply flex-1 bg-transparent focus:outline-none text-[36px] placeholder:text-grey-light [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
}

@layer utilities {
  .fade-out {
    @apply animate-fade-out;
  }

  .fade-in {
    @apply animate-fade-in;
  }

  .is-text-overflow {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_900-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_900-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_900-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_900-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_900-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_800-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_800-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_800-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_800-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_800-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_700-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_700-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_700-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_700-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_700-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_600-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_600-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_600-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_600-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_600-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_500-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_500-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_500-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_500-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_500-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_400-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_400-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_400-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_400-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_400-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_300-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_300-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_300-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_300-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_300-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_200-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_200-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_200-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_200-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_200-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_200_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_200_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_200_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_200_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_200_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_900_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_900_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_900_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_900_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_900_italic-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_800_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_800_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_800_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_800_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_800_italic-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_700_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_700_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_700_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_700_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_700_italic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_600_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_600_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_600_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_600_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_600_italic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_500_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_500_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_500_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_500_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_500_italic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_400_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_400_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_400_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_400_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_400_italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_300_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_300_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_300_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_300_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_300_italic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie Pro Book";
  src: url("fonts/nb_akademie_pro_book-webfont.eot");
  src:
    url("fonts/nb_akademie_pro_book-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_pro_book-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_pro_book-webfont.woff") format("woff"),
    url("fonts/nb_akademie_pro_book-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_semibold-webfont.eot");
  src:
    url("fonts/nb_akademie_semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_semibold-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_semibold-webfont.woff") format("woff"),
    url("fonts/nb_akademie_semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_regular-webfont.eot");
  src:
    url("fonts/nb_akademie_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_regular-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_regular-webfont.woff") format("woff"),
    url("fonts/nb_akademie_regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_medium-webfont.eot");
  src:
    url("fonts/nb_akademie_medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_medium-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_medium-webfont.woff") format("woff"),
    url("fonts/nb_akademie_medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_light-webfont.eot");
  src:
    url("fonts/nb_akademie_light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_light-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_light-webfont.woff") format("woff"),
    url("fonts/nb_akademie_light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_extrabold-webfont.eot");
  src:
    url("fonts/nb_akademie_extrabold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_extrabold-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_extrabold-webfont.woff") format("woff"),
    url("fonts/nb_akademie_extrabold-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_bold-webfont.eot");
  src:
    url("fonts/nb_akademie_bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/nb_akademie_bold-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_bold-webfont.woff") format("woff"),
    url("fonts/nb_akademie_bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_medium_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_medium_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_medium_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_medium_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_medium_italic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_semibold_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_semibold_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_semibold_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_semibold_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_semibold_italic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_bold_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_bold_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_bold_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_bold_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_bold_italic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie Book";
  src: url("fonts/nb_akademie_book_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_book_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_book_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_book_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_book_italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
