@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base Colors */
    --color-white: 0 0% 96%;
    --color-whitest: 0 0% 100%;
    --color-semi-white: 0 0% 96% / 0.06;
    --color-black: 203 45% 4%;
    --color-grey-dark: 0 0% 20%;
    --color-grey-medium: 0 0% 40%;
    --color-grey-light: 0 0% 60%;
    --color-grey-lighter: 0 0% 80%;
    --color-red: 2 58% 46%;
    --color-orange: 24 96% 51%;
    --color-orange-soft: 35 87% 54%;
    --color-green: 140 35% 36%;
    --color-blue-light: 203 35% 60%;
    --color-yellow: 43 71% 58%;

    /* Semantic Colors */
    --background: var(--color-black);
    --foreground: var(--color-black);
    --muted: var(--color-grey-dark);
    --muted-foreground: var(--color-grey-light);
    --accent: var(--color-orange-soft);
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 0, 0%, 20%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;

    /* Primitives. */
    --color-gray-0: #ffffff;
    --color-gray-50: #f5f5f5;
    --color-gray-100: #e5e5e5;
    --color-gray-150: #d9d9d9;
    --color-gray-200: #cccccc;
    --color-gray-250: #bfbfbf;
    --color-gray-300: #b2b2b2;
    --color-gray-350: #a6a6a6;
    --color-gray-400: #999999;
    --color-gray-450: #8c8c8c;
    --color-gray-500: #808080;
    --color-gray-550: #737373;
    --color-gray-600: #666666;
    --color-gray-650: #595959;
    --color-gray-700: #4d4d4d;
    --color-gray-750: #404040;
    --color-gray-800: #333333;
    --color-gray-850: #262626;
    --color-gray-900: #1a1a1a;
    --color-gray-950: #0d0d0d;
    --color-gray-1000: #000000;

    --color-orange-100: #ff5d12;
    --color-chartreuse-100: #eaff7e;
  }

  html[data-theme="light"] {
    --color-icon-default: var(--color-gray-850);
    --color-icon-light: var(--color-gray-350);
    --color-icon-subdued: var(--color-gray-500);

    --color-stroke-default: var(--color-gray-200);
    --color-stroke-active: var(--color-gray-750);

    --color-text-default: var(--color-gray-1000);
    --color-text-secondary: var(--color-gray-850);
    --color-text-inverted: var(--color-gray-0);
    --color-text-light: var(--color-gray-400);
    --color-text-subdued: var(--color-gray-700);
    --color-text-black: var(--color-gray-1000);

    --color-background-default: var(--color-gray-0);
    --color-surface-1: var(--color-gray-50);
    --color-surface-2: var(--color-gray-100);
    --color-surface-3: var(--color-gray-150);

    --color-orange: var(--color-orange-100);
  }

  html[data-theme="dark"] {
    --color-icon-default: var(--color-gray-150);
    --color-icon-light: var(--color-gray-650);
    --color-icon-subdued: var(--color-gray-500);

    --color-stroke-default: var(--color-gray-800);
    --color-stroke-active: var(--color-gray-250);

    --color-text-default: var(--color-gray-0);
    --color-text-secondary: var(--color-gray-150);
    --color-text-inverted: var(--color-gray-1000);
    --color-text-light: var(--color-gray-600);
    --color-text-subdued: var(--color-gray-300);
    --color-text-black: var(--color-gray-1000);

    --color-background-default: var(--color-gray-1000);
    --color-surface-1: var(--color-gray-900);
    --color-surface-2: var(--color-gray-850);
    --color-surface-3: var(--color-gray-800);

    --color-orange: var(--color-orange-100);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply h-screen;
  }
  body {
    @apply m-0 p-0 bg-background font-sans antialiased text-text;
  }
}

@layer components {
  .gradient-background {
    @apply border border-solid border-transparent bg-radial-dark shadow-[inset_1px_1px_1px_-1px_hsla(0,0%,100%,0.5)];
  }
  .gradient-container {
    @apply gradient-background p-4 sm:p-4 md:p-8 lg:p-12 rounded-2xl;
  }
  .normalize-input {
    @apply flex-1 bg-transparent focus:outline-none placeholder:text-grey-light [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
}

@layer utilities {
  .fade-out {
    @apply animate-fade-out;
  }

  .fade-in {
    @apply animate-fade-in;
  }

  .is-text-overflow {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

/* Font: NB Akademie */

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_900-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_900-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_900-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_900-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_900-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_800-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_800-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_800-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_800-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_800-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_700-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_700-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_700-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_700-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_700-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_600-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_600-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_600-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_600-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_600-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_500-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_500-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_500-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_500-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_500-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_400-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_400-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_400-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_400-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_400-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_300-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_300-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_300-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_300-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_300-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_200-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_200-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_200-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_200-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_200-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_200_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_200_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_200_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_200_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_200_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_900_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_900_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_900_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_900_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_900_italic-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_800_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_800_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_800_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_800_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_800_italic-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_700_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_700_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_700_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_700_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_700_italic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_600_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_600_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_600_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_600_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_600_italic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_500_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_500_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_500_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_500_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_500_italic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_400_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_400_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_400_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_400_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_400_italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NB Akademie Mono";
  src: url("fonts/nb_akademie_mono_300_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_mono_300_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_mono_300_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_mono_300_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_mono_300_italic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie Pro Book";
  src: url("fonts/nb_akademie_pro_book-webfont.eot");
  src:
    url("fonts/nb_akademie_pro_book-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_pro_book-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_pro_book-webfont.woff") format("woff"),
    url("fonts/nb_akademie_pro_book-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_semibold-webfont.eot");
  src:
    url("fonts/nb_akademie_semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_semibold-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_semibold-webfont.woff") format("woff"),
    url("fonts/nb_akademie_semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_regular-webfont.eot");
  src:
    url("fonts/nb_akademie_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_regular-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_regular-webfont.woff") format("woff"),
    url("fonts/nb_akademie_regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_medium-webfont.eot");
  src:
    url("fonts/nb_akademie_medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_medium-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_medium-webfont.woff") format("woff"),
    url("fonts/nb_akademie_medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_light-webfont.eot");
  src:
    url("fonts/nb_akademie_light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_light-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_light-webfont.woff") format("woff"),
    url("fonts/nb_akademie_light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_extrabold-webfont.eot");
  src:
    url("fonts/nb_akademie_extrabold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_extrabold-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_extrabold-webfont.woff") format("woff"),
    url("fonts/nb_akademie_extrabold-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_bold-webfont.eot");
  src:
    url("fonts/nb_akademie_bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/nb_akademie_bold-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_bold-webfont.woff") format("woff"),
    url("fonts/nb_akademie_bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_medium_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_medium_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_medium_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_medium_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_medium_italic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_semibold_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_semibold_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_semibold_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_semibold_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_semibold_italic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_bold_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_bold_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_bold_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_bold_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_bold_italic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie Book";
  src: url("fonts/nb_akademie_book_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_book_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_book_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_book_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_book_italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nb Akademie";
  src: url("fonts/nb_akademie_italic-webfont.eot");
  src:
    url("fonts/nb_akademie_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/nb_akademie_italic-webfont.woff2") format("woff2"),
    url("fonts/nb_akademie_italic-webfont.woff") format("woff"),
    url("fonts/nb_akademie_italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Font: Switzer */

@font-face {
  font-family: "Switzer-Thin";
  src:
    url("fonts/Switzer-Thin.woff2") format("woff2"),
    url("fonts/Switzer-Thin.woff") format("woff"),
    url("fonts/Switzer-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-ThinItalic";
  src:
    url("fonts/Switzer-ThinItalic.woff2") format("woff2"),
    url("fonts/Switzer-ThinItalic.woff") format("woff"),
    url("fonts/Switzer-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Extralight";
  src:
    url("fonts/Switzer-Extralight.woff2") format("woff2"),
    url("fonts/Switzer-Extralight.woff") format("woff"),
    url("fonts/Switzer-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-ExtralightItalic";
  src:
    url("fonts/Switzer-ExtralightItalic.woff2") format("woff2"),
    url("fonts/Switzer-ExtralightItalic.woff") format("woff"),
    url("fonts/Switzer-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Light";
  src:
    url("fonts/Switzer-Light.woff2") format("woff2"),
    url("fonts/Switzer-Light.woff") format("woff"),
    url("fonts/Switzer-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-LightItalic";
  src:
    url("fonts/Switzer-LightItalic.woff2") format("woff2"),
    url("fonts/Switzer-LightItalic.woff") format("woff"),
    url("fonts/Switzer-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Regular";
  src:
    url("fonts/Switzer-Regular.woff2") format("woff2"),
    url("fonts/Switzer-Regular.woff") format("woff"),
    url("fonts/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Italic";
  src:
    url("fonts/Switzer-Italic.woff2") format("woff2"),
    url("fonts/Switzer-Italic.woff") format("woff"),
    url("fonts/Switzer-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Medium";
  src:
    url("fonts/Switzer-Medium.woff2") format("woff2"),
    url("fonts/Switzer-Medium.woff") format("woff"),
    url("fonts/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-MediumItalic";
  src:
    url("fonts/Switzer-MediumItalic.woff2") format("woff2"),
    url("fonts/Switzer-MediumItalic.woff") format("woff"),
    url("fonts/Switzer-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Semibold";
  src:
    url("fonts/Switzer-Semibold.woff2") format("woff2"),
    url("fonts/Switzer-Semibold.woff") format("woff"),
    url("fonts/Switzer-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-SemiboldItalic";
  src:
    url("fonts/Switzer-SemiboldItalic.woff2") format("woff2"),
    url("fonts/Switzer-SemiboldItalic.woff") format("woff"),
    url("fonts/Switzer-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Bold";
  src:
    url("fonts/Switzer-Bold.woff2") format("woff2"),
    url("fonts/Switzer-Bold.woff") format("woff"),
    url("fonts/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-BoldItalic";
  src:
    url("fonts/Switzer-BoldItalic.woff2") format("woff2"),
    url("fonts/Switzer-BoldItalic.woff") format("woff"),
    url("fonts/Switzer-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Extrabold";
  src:
    url("fonts/Switzer-Extrabold.woff2") format("woff2"),
    url("fonts/Switzer-Extrabold.woff") format("woff"),
    url("fonts/Switzer-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-ExtraboldItalic";
  src:
    url("fonts/Switzer-ExtraboldItalic.woff2") format("woff2"),
    url("fonts/Switzer-ExtraboldItalic.woff") format("woff"),
    url("fonts/Switzer-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer-Black";
  src:
    url("fonts/Switzer-Black.woff2") format("woff2"),
    url("fonts/Switzer-Black.woff") format("woff"),
    url("fonts/Switzer-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-BlackItalic";
  src:
    url("fonts/Switzer-BlackItalic.woff2") format("woff2"),
    url("fonts/Switzer-BlackItalic.woff") format("woff"),
    url("fonts/Switzer-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/* Font: LED Dot-Matrix */

@font-face {
  font-family: "LED Dot-Matrix";
  src:
    url("fonts/LED_Dot-Matrix.woff2") format("woff2"),
    url("fonts/LED_Dot-Matrix.woff") format("woff"),
    url("fonts/LED_Dot-Matrix.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
